<%- include('../partials/header') %>

<h2 class="fs-4 fw-bold text-bg-dark p-2 text-center">Add Workout</h2>

    <form  id="add-form" action="/workouts" method="POST">
  
        <label class="text-end">Title:</label>
          <input type="text" name="title">
      
        <label class="text-end">Description:</label>
        <input type="text" name="description">
      
      
        <label  class="text-end">Focus:</label>
        <select name="focus">
          <option value="Legs and Glute">Legs and Glute</option>
          <option value="Back and Biceps">Back and Biceps</option>
          <option value="Shoulder and Triceps">Shoulder and Triceps</option>
          <option value="Full Body">Full Body</option>
          <option value="Cardio">Cardio</option>
        </select>
      
        <input type="submit" class="btn btn-primary btn-shadow"  value="Add Workout">
      </form>





<%- include('../partials/footer') %>