<%- include('./partials/header') %>

<div class="position-relative text-center d-flex justify-content-center align-items-center">
  <img class="fit-image" src="/images/background.jpg" alt="Fitness Image" style="width: 100%; height: auto;">
  <div class="position-absolute top-10 start-10 pb-3 rounded" style="background-color: rgba(255, 255, 255, 0.5); border: 1px solid #ccc; max-width: 600px; width: 100%; box-shadow: 3px 3px 5px rgba(0,0,0,0.3); left: 20px; top: 90px;">
    <h2 class="fs-1 fw-bold text-dark"><strong>Why Workout Tracker?</strong></h2>
    <h3 class="padded-h3 fs-6 text-dark">Workout tracker is the most convenient automatic training notebook to record and track workout sessions including workouts, sets, reps and achieve the best progress</h3>
  </div>
</div>

<%- include('./partials/footer') %>