<%- include('./partials/header') %>

<div class="d-flex justify-content-center align-items-center vh-100" style="height: 100vh;">
  <div class="text-center fw-bold">
    <img class="fit-image mb-3" src="/images/background.jpg" alt="Fitness Image">
    <h2 class="fs-1"><strong>Why to Workout Tracker App?</strong></h2>
    <div class="mt-3" style="max-width: 600px; margin-left: auto; margin-right: auto;">
      <h3 class="fs-6">Workout tracker is the most convenient automatic training notebook to record and track workout sessions including workouts, sets, reps and achieve the best progress</h3>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>