<%- include('./partials/header') %>
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
  <div class="text-center fw-bold">

    <h2 class="fs-1">Welcome to Workout Tracker</h2>
    
  </div>
</div>  

<%- include('./partials/footer') %>