body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-workout {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fit-image {
  max-height: 70vh; 
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
}


h2 {
  margin: 50px;
}
