body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.add-workout {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.fit-image {
  max-height: 70vh; 
  max-width: 100%;
  height: auto;
  object-fit: contain;
  margin: 0;
}


h2 {
  margin: 50px;
}

#add-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 15rem));
  font-size: 18px;
  padding: 1px;
  border-radius: 5px;
}



#add-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: 290px;
  padding:0;
}
.btn-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.add-new-workout {
  margin: 150px;
}