<%- include('../partials/header') %>

<h2>Add Workout Session</h2>
<form id="new-form" action="/workoutsessions" method="POST">
    
    <label>Title:</label>
  <input type="text" name="title" >

  <label>Difficulty:</label>
  <select name="difficulty">
    <option value="Beginner">Beginner</option>
    <option value="Intermediate">Intermediate</option>
    <option value="Advance">Advance</option>
  </select>
  <label>Location Type:</label>
  <select name="locationType">
    <option value="Gym">Gym</option>
    <option value="home">Home</option>
  </select>
  <label>Completed:</label>
  <input type="checkbox" name="completed" >
  
  <input type="submit" value="Add Session">
</form>


<%- include('../partials/footer') %>